@import "global.styl"

body
    // background-color #404244

    font-family Arial
    color #202020

    background-image url(../images/background.jpg)

    div.main
        img.wolf
            position fixed
            right 20px
            bottom 20px
            z-index -1
            height 400px
        header
            height 55px
            line-height 55px
            padding 10px
            div.logo
                display flex
                margin 0 auto
                width 180px
                text-align center
                div.image
                    img
                        height 55px
                div.text
                    padding-left 15px
                    color textColor1
                    font-family wr
                    font-size 2.5rem
                    letter-spacing .4rem
