<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E9B047">

    <title>KoroLion</title>

    <link rel="stylesheet" type="text/css" href="../styles/profile.css">
</head>
<body>
    <div class="main profile">
        <header class="lite">
            <div class="logo">
                <div class="image">
                    <img src="../images/liokor_logo.png">
                </div>
                <div class="text">
                    <span>MAIL</span>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="standalone-form">
                <div class="title">
                    <div class="primary">Смена пароля</div>
                </div>
                <div class="form">
                    <form id="editProfileForm">
                        <div class="form-group" id="fullnameGroup">
                            <label>СТАРЫЙ ПАРОЛЬ<span class="error-text" id="fullnameErrorText"></span></label>
                            <input name="oldPassword" type="password" class="form-control">
                        </div>
                        <div class="form-group" id="reserveEmailGroup">
                            <label>НОВЫЙ ПАРОЛЬ<span class="error-text" id="reserveEmailErrorText"></span></label>
                            <input name="newPassword" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn" value="Сменить пароль">
                        </div>
                        <div class="form-group">
                            <a href="/templates/profile.html" class="btn btn-danger">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        editProfileForm.addEventListener('submit', (e) => {
            e.preventDefault();
            let formData = new FormData(editProfileForm);
            let oldPassword = formData.get('oldPassword');
            let newPassword = formData.get('newPassword');
            alert('Passwords: ' + oldPassword + ' ' + newPassword);
        });
    </script>
</body>
</html>
