<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E9B047">

    <title>KoroLion</title>

    <link rel="stylesheet" type="text/css" href="../styles/profile.css">
</head>
<body>
    <div class="main profile">
        <header class="lite">
            <div class="logo">
                <div class="image">
                    <img src="../images/liokor_logo.png">
                </div>
                <div class="text">
                    <span>MAIL</span>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="standalone-form profile">
                <div class="title">
                    <div class="avatar">
                        <img id="avatarImage" src="../images/avatar.jpg">
                        <div id="avatarChange" class="cover">
                            Изменить
                        </div>
                    </div>
                    <div class="primary">KoroLion</div>
                    <div class="secondary">korolion@liokor.ru</div>
                </div>
                <div class="form">
                    <form id="editProfileForm">
                        <input name="avatarDataURL" type="hidden" id="avatarDataURL">

                        <div class="form-group" id="fullnameGroup">
                            <label>ПОЛНОЕ ИМЯ<span class="error-text" id="fullnameErrorText"></span></label>
                            <input name="fullname" type="text" class="form-control" value="Артем К.">
                        </div>
                        <div class="form-group" id="reserveEmailGroup">
                            <label>ЗАПАСНОЙ EMAIL<span class="error-text" id="reserveEmailErrorText"></span></label>
                            <input name="reserveEmail" type="text" class="form-control" value="wolf@liokor.ru">
                            <div class="muted">Необходимо будет подтвердить на старом и новом ящиках</div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn" value="Сохранить">
                        </div>
                        <div class="form-group">
                            <a href="/templates/change_password.html" class="btn">Сменить пароль</a>
                        </div>
                        <div class="form-group">
                            <a href="/templates/auth.html" class="btn btn-danger">Выйти</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        import { readImageAsDataURL } from '../modules/files.js';

        avatarChange.addEventListener('click', async () => {
            let dataURL = await readImageAsDataURL();
            avatarImage.src = dataURL;
            avatarDataURL.value = dataURL;
        });

        editProfileForm.addEventListener('submit', (e) => {
            e.preventDefault();
            let formData = new FormData(editProfileForm);
            let fullname = formData.get('fullname');
            let reserveEmail = formData.get('reserveEmail');
            let avatarDataURL = formData.get('avatarDataURL');
            alert('New data: ' + fullname + ' ' + reserveEmail + avatarDataURL);
        });
    </script>
</body>
</html>
