<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E9B047">

    <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>
    <div class="main">
        <!-- <img class="wolf" src="../images/wolf_dark.png"> -->

        <header>
            <div class="logo">
                <div class="image">
                    <img src="../images/liokor_logo.png">
                </div>
                <div class="text">
                    <span>MAIL</span>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="standalone-form">
                <div class="title">
                    <div class="primary">Регистрация</div>
                </div>
                <div class="form">
                    <div class="form-group" id="loginGroup">
                        <label>ЛОГИН<span class="error-text" id="loginErrorText"></span></label>
                        <input type="text">
                        <div class="muted">Будет использоваться как часть адреса: login@liokor.ru</div>
                    </div>
                    <div class="form-group" id="loginGroup">
                        <label>ПОЛНОЕ ИМЯ<span class="error-text" id="loginErrorText"></span></label>
                        <input type="text" placeholder="Иван Иванов">
                        <div class="muted">Будет отображаться у получателей писем</div>
                    </div>
                    <div class="form-group" id="passwordGroup">
                        <label>ПАРОЛЬ<span class="error-text" id="passwordErrorText"></span></label>
                        <input type="password" id="authPasswordInput">
                        <div class="muted">8 символов, минимум 2 буквы разного регистра и 1 цифра</a>
                    </div>
                    <div class="form-group">
                        <button id="authButton">Создать</button>
                        <div class="muted">Уже с нами? <a href="/templates/auth_alt.html">Войти</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const authButtonClick = () => {
            if (loginGroup.classList.contains('error')) {
                loginGroup.classList.remove('error');
                loginErrorText.innerHTML = '';
                passwordGroup.classList.remove('error');
                passwordErrorText.innerHTML = '';
            } else {
                loginGroup.classList.add('error');
                loginErrorText.innerHTML = 'Неверный логин или пароль';
                passwordGroup.classList.add('error');
                passwordErrorText.innerHTML = 'Неверный логин или пароль';
            }
        }
        authButton.addEventListener('click', authButtonClick);

        authPasswordInput.addEventListener('keydown', (e) => {
            if (e.key == 'Enter') {
                authButtonClick();
            }
        })
    </script>
</body>
</html>
