<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#E9B047">

    <title>Регистрация</title>

    <link rel="stylesheet" type="text/css" href="../styles/signup.css">
</head>
<body>
    <div class="main">
        <!-- <img class="wolf" src="../images/wolf_dark.png"> -->

        <header class="lite">
            <div class="logo">
                <div class="image">
                    <img src="../images/liokor_logo.png">
                </div>
                <div class="text">
                    <span>MAIL</span>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="standalone-form">
                <div class="title">
                    <div class="primary">Регистрация</div>
                </div>
                <div class="form">
                    <form id="signupForm">
                        <div class="form-group" id="usernameGroup">
                            <label>ЛОГИН*<span class="error-text" id="usernameErrorText"></span></label>
                            <input name="username" type="text" class="form-control" required>
                            <div class="muted">Будет использоваться как часть адреса: login@liokor.ru</div>
                        </div>
                        <div class="form-group" id="passwordGroup">
                            <label>ПАРОЛЬ*<span class="error-text" id="passwordErrorText"></span></label>
                            <input name="password" type="password" class="form-control" id="authPasswordInput" required>
                            <div class="muted">8 символов, минимум 2 буквы разного регистра и 1 цифра</a>
                        </div>
                        <div class="form-group" id="fullnameGroup">
                            <label>ПОЛНОЕ ИМЯ<span class="error-text" id="fullnameErrorText"></span></label>
                            <input name="fullname" type="text" class="form-control" placeholder="Иван Иванов">
                            <div class="muted">Будет отображаться у получателей писем</div>
                        </div>
                        <div class="form-group" id="passwordGroup">
                            <label>ЗАПАСНОЙ EMAIL<span class="error-text" id="passwordErrorText"></span></label>
                            <input name="reserveEmail" type="text" class="form-control"  placeholder="wolf@liokor.ru">
                            <div class="muted">Используется для восстановления пароля, если не указан - пароль восстановить невозможно</a>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn" value="Создать">
                            <div class="muted">Уже с нами? <a href="/templates/auth.html">Войти</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        signupForm.addEventListener('submit', (e) => {
            e.preventDefault();
            let formData = new FormData(signupForm);
            let username = formData.get('username');
            let password = formData.get('password');
            if (username.length < 3) {
                usernameGroup.classList.add('error');
                usernameErrorText.innerHTML = 'Слишком короткий логин!';
                return;
            }
            if (username.toLowerCase() == 'korolion') {
                usernameGroup.classList.add('error');
                usernameErrorText.innerHTML = 'Этот логин уже занят!';
                return;
            }
            location.href = '/templates/profile.html'
        });
    </script>
</body>
</html>
