textColor1 = #F5F5F5
textColor2 = #CCC
textColor3 = #888

clError = #FA3232
clPrimary = #FF6436
clSecondary = #393C3F
clFormBorder = #080808
clFormShadow = #101010
// clHighlight = #FFA500
clHighlight = #EF9900

clBody = #404346
clBackground = #2A2A2F
