// --------- Base constants.
// USE ONLY IT IN OTHER VARIABLES
// DO NOT USE IT IN STYLES!
textColor1 = #F5F5F5
textColor2 = #CCC
textColor3 = #AAA
textColor4 = #888
textColor5 = #555

color1 = #091A20
color2 = #0C2129
color3 = #314147
color4 = #3A6D7E
color5 = #DE932B
color6 = #5a8be0

color1lighter = #0e252d
color1moreLighter = #1b2d34
color1mostLighter = #213038
color2lighter = #0e2a34
color5-A = #DE932BAA

colorDark = #2a2b2bEE
colorShadow = #00000044

colorIcons = #F5F5F5
colorIconsTransparent = #969dab
// --------------

clError = #FA3232
clPrimary = #FF6436
clSecondary = #393C3F
clFormBorder = #080808
clFormShadow = #101010
// clHighlight = #FFA500
clHighlight = #EF9900

clBody = #404346
clMessagesBackground = #22304a
clBackground = #121828

logo-height = 100px
image-height = 60px
logo-width = 180px
logo-padding = 20px
