@require "constants.styl"

form-button-padding = 10px
form-button-margin = 10px
form-padding-left = 20px
form-padding-top = 30px
form-margin = 75px
form-width = 460px
form-top-margin = 8px
border-width = 1px
border-radius = 3px
big-border-radius = 3px
back-btn-size = 40px
close-btn-size = 25px

linkButton
    text-decoration none
    color clPrimary
    transition all 0.3s ease
    cursor pointer
linkButton:hover
    color clHighlight

.btn
    -webkit-appearance none
    display block
    text-align center
    background-color clPrimary
    color textColor1
    border-width 0
    font-size 1.1rem
    padding form-button-padding form-button-padding*2
    border-radius border-radius
    cursor pointer
    transition all 0.3s ease
.btn.btn-danger
    background-color clError
.btn:hover
    background-color clHighlight
linkButton.btn:hover
    color textColor1

textarea.form-control
    resize none
    width 100%
    font-family Arial
.form-control
    padding form-button-padding
    font-size 1rem
    color textColor1
    background-color clSecondary
    border border-width solid clFormBorder
    border-radius border-radius
    transition border 0.3s ease
.form-control:focus
    outline 0
    border 1px solid clHighlight
.form-control::placeholder
    color textColor3
.form-control.error,
.error .form-control
    border border-width solid clError !important

.standalone-form
    box-shadow 0 0 10px clFormShadow
    padding form-padding-left form-padding-top

    max-width form-width
    margin form-margin auto
    border-radius big-border-radius
    overflow hidden

    background-color clFormBackground

    position relative
    .back-btn
        position absolute
        color #CCC
        left form-padding-left
        top 10px
        width back-btn-size
        height back-btn-size
        transition 0.2s ease color
    .back-btn:hover
        color orange

    .title
        text-align center
        color textColor1
        .primary
            font-size 1.5rem
            font-weight bold
        .secondary
            margin-top form-button-margin
            font-size 1rem
            color textColor3
    .form
        padding-top 5px

.form-group
    margin form-button-margin*2 0
    label
        color textColor3
        display block
        font-size 0.75rem
        font-weight bold
        margin-bottom form-button-margin
        .error-text
            font-style italic
        .error-text:not(:empty):before
            content: " - "

    input,
    button
        margin auto
        width 100%
    .muted
        margin-top form-top-margin
        font-size 0.9rem
        color textColor3
.form-group.error
    label
        color clError
