textColor1 = #F5F5F5
textColor2 = #CCC
textColor3 = #888

clError = #FA3232
clPrimary = #FF6436
// clHighlight = #FFA500
clHighlight = #EF9900

formBgColor = #404346


form-button-padding = 10px
form-padding = 10px
form-margin = 125px
form-width = 460px

logo-height = 55px
logo-width = 180px
logo-padding = 15px


*
    box-sizing border-box

#app
    opacity 0
    transition all 200ms ease
    height "calc(100vh - %s)" % logo-height
    width 100%

@font-face
    font-family LioKorLogo
    src url(../fonts/liokor_logo_font.ttf)

linkButton
    text-decoration none
    color clPrimary
    transition all 0.3s ease
    cursor pointer
linkButton:hover
    color clHighlight

.btn
    -webkit-appearance none
    display block
    text-align center
    background-color clPrimary
    color textColor1
    border-width 0
    font-size 1.1rem
    padding form-button-padding form-button-padding*2
    border-radius 3px
    cursor pointer
    transition all 0.3s ease
.btn.btn-danger
    background-color clError
.btn:hover
    background-color clHighlight
linkButton.btn:hover
    color textColor1

textarea.form-control
    resize none
    width 100%
    font-family Arial
input.form-control[type="text"],
input.form-control[type="email"],
input.form-control[type="password"],
textarea.form-control
    padding form-button-padding
    font-size 1rem
    color textColor1
    background-color #393C3F
    border 1px solid #080808
    border-radius 3px

    transition border 0.3s ease
input.form-control[type="text"]:focus,
input.form-control[type="email"]:focus,
input.form-control[type="password"]:focus,
textarea.form-control:focus
    outline 0
    border 1px solid clHighlight
input.form-control[type="text"]::placeholder,
input.form-control[type="password"]::placeholder
    color textColor3

input.form-control.error[type="text"],
input.form-control.error[type="email"],
input.form-control.error[type="password"],
.error input
    border 1px solid clError !important

div.standalone-form
    box-shadow 0 0 3px #101010
    padding form-padding*2 form-padding*3

    max-width form-width
    margin form-margin auto
    border-radius 7px
    overflow hidden

    background-color formBgColor

    div.title
        text-align center
        color textColor1
        div.primary
            font-size 1.5rem
            font-weight bold
        div.secondary
            margin-top 10px
            font-size 0.95rem
            color textColor2
    div.form
        padding-top 5px

        div.form-group
            margin 20px 0
            label
                color textColor2
                display block
                font-size 0.75rem
                font-weight bold
                margin-bottom 9px
                span.error-text
                    font-style italic
                span.error-text:not(:empty):before
                    content: " - "

            input,
            button
                width 100%
            div.muted
                margin-top 8px
                font-size 0.9rem
                color textColor3
        div.form-group.error
            label
                color clError

html
    height 100%
body
    margin 0
    font-family Arial
    color #202020

    background-image url(../images/background.jpg)
    background-repeat repeat-y

    div.main
        div.popup-messages
            position fixed
            top logo-padding
            right logo-padding
            width 225px
            z-index 1000
            div.popup-message
                margin-bottom logo-padding
                padding 10px
                border-radius 2px
                background-color #28A745
                border-left 5px solid #218838
                color textColor1
                transition opacity 0.5s ease
                div.title
                    margin-bottom 5px
            div.popup-message.error
                background-color #E54D42
                border-left-color #B82E24

        overflow auto
        min-height 100vh

        background-color transparent
        background-image none
        img.wolf
            position fixed
            right 20px
            bottom 20px
            z-index -1
            height 400px
        header.lite
            height logo-height
            line-height logo-height
            padding logo-padding
            div.logo
                display flex
                margin 0 auto
                width logo-width
                text-align center
                div.image
                    img
                        height logo-height
                div.text
                    padding-left logo-padding
                    color textColor1
                    font-family LioKorLogo
                    font-size 2.5rem
                    letter-spacing .4rem
