.w-25
    width 25% !important
.w-50
    width 50% !important
.w-75
    width 75% !important
.w-100
    width 100% !important

.m-1
    margin 5px !important
.m-2
    margin 10px !important
.m-3
    margin 15px !important

.flex
    display flex !important
