color1 = #F5F5F5
color2 = #CCC
color3 = #AAA
color4 = #888
color5 = #585858
color6 = #333
color7 = #222
color7-C = #222C
color7-8 = #2228
color7-4 = #2224

loading-color = #84adff

dialogue-color = #185d25AA
dialogue-color-hover = #218633
dialogue-color-active = #6b5c13

bg-color-1 = #60606099
bg-color-2 = #393C3FCC
bg-color-3 = #3b3f4799
bg-color-4 = #393939
bg-color-5 = #4b5b4bAA

scroll-bg-color = #00000000
scroll-thumb-color = #80808080
scroll-thumb-color-hover = #707070

message-bg-1 = #3f444c
message-bg-2 = #3f4a3f

input-bg-color = bg-color-4
input-bg-color-focus = #3C3C3C

extra-small = 5px
small = 7px
middle = 10px
middle-large = 15px
large = 20px
extra-large = 30px

small-avatar-size = 20px
middle-avatar-size = 40px
large-avatar-size = 60px

dialogue-preview-height = 62px

dialogues-column-width = 30%
messages-column-width = 100% - dialogues-column-width

height-header = dialogue-preview-height

width-border = 1px

.middle-avatar
  border-radius 50%
  width middle-avatar-size
  height middle-avatar-size
  overflow hidden

/*
.pad-xs
  padding extra-small
.pad-s
  padding small
.pad-m
  padding middle
.pad-l
  padding large
.pad-xl
  padding extra-large
*/


.bg-transparent
  background bg-color-2

.text-1
  color color1
.text-2
  color color2
.text-3
  color color3
.text-4
  color color4

.fullwidth
  width 100%
.fullheight
  height 100%

.floatright
  float right
.floatleft
  float left

.center-text
  text-align center
.centered
  margin auto
.top-filler
  margin-top auto


// --- Table:
.table-columns
  overflow hidden
  display flex
  flex-direction row
.table-rows
  overflow hidden
  display flex
  flex-direction column

.table-column
  height 100%
  padding middle 0 middle 0
.table-row
  width 100%
  padding 0 middle 0 middle


.scrollable
  overflow-y auto

  --scrollbarBg: scroll-bg-color
  --scrollbarThumb: scroll-thumb-color
  --scrollbarWidth: 6px;
  --scrollbarBorder: 1px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);

  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);

.scrollable:hover
  --scrollbarThumb: scroll-thumb-color-hover

.scrollable::-webkit-scrollbar
  width: var(--scrollbarWidth);
.scrollable::-webkit-scrollbar-track
  background: var(--scrollbarBg);
  border-radius: var(--scrollbarBorderRadius);
.scrollable::-webkit-scrollbar-thumb
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);

// extend table:
.dialogues-column
  width dialogues-column-width
  border-right width-border solid color3
  padding 0
.messages-column
  width messages-column-width
  padding 0

.dialogues-listing
  list-style-type none
  margin 0
  padding 0
  scrollbar-color scroll-thumb-color dialogue-color
  border-bottom 1px solid color3
.dialogues-listing::-webkit-scrollbar
  background dialogue-color

.header
  padding middle-large
  background bg-color-1
  color color1
  box-shadow 0 4px 10px color7-8
  z-index 0
  height height-header
.body
  color color2
.footer
  padding middle
  color color2
  background bg-color-1
  border-top width-border solid color3
  display none

.tool-dialogue
  padding middle
  box-shadow 0 5px 10px color7-C
  min-height dialogue-preview-height

// --- Listing button:
.listing-button
  min-height dialogue-preview-height
  max-height dialogue-preview-height
  overflow hidden
  padding middle
  //border-top 1px solid color3
  border-bottom 1px solid color3
  background-color dialogue-color
  cursor pointer
  transition background-color ease 0.3s
  img
    float left
.listing-button:hover
  background dialogue-color-hover
.listing-button.active
  //border-top 1px solid color1
  border-bottom 1px solid color1
  background-color dialogue-color-active

.empty-dialogue
  min-height dialogue-preview-height
  overflow hidden
  padding small
  //border-top 1px solid color3
  //border-bottom 1px solid color3
  background-color bg-color-5

.dialogue-text
  padding-left (middle-avatar-size + small)
.dialogue-body
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

/*
.end-gradient::after
  content: '';
  right: 0; top: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(to right, #FFF00000 0%, #F0C000 100%);
*/

// --- message-block:
.flex-filler
  flex 1

.message-block-full
  margin extra-small

.left-block
  text-align left
  margin-right 15%
.right-block
  text-align left
  margin-left 15%

.message-block
  border-radius small
  border-top-left-radius (middle-avatar-size/2)
  img
    float left
.message-block.not-your
  background message-bg-1
.message-block.your
  background message-bg-2

.message-block-title
  color color4
  width "calc(100% - %s - %s)" % (middle middle-avatar-size)
  margin-left middle-avatar-size + middle
  padding-top ((middle-avatar-size - 14px)/2)
  padding-bottom ((middle-avatar-size - 14px)/2)


.message-body
  color color2
  padding extra-small
  margin-left middle

.messages-footer
  svg
    margin-left small
    margin-right small

.message-input
  padding middle
  background input-bg-color
  color color2
  border-radius extra-small
  outline none
  flex 1
  font 400 15px Arial

  border-width width-border
  border-style inset

  word-wrap break-word
  outline: 0;
  min-height: 30px;
  resize: none;
  max-height: 200px;
  overflow-y: hidden;
  line-height: 17px;

  transition all ease 0.2s
.message-input:focus
  background input-bg-color-focus
  border-color color3

.message-input::placeholder
  color color3
  transition color ease 0.4s
.message-input:focus::placeholder
  color color5

.connection-info
  z-index 1
  position absolute
  top -40px // to 0
  opacity 0 // to 1
  display none // to block
  width 100%
  background color7-8
  border-bottom-left-radius small
  border-bottom-right-radius small
  box-shadow 0 5px 5px color7-4
  padding extra-small
  transition all cubic-bezier(.38,1.1,.55,1.1) 0.5s
  svg
    width 25px
    height 20px

.pos-relative
  position relative
  overflow hidden

.inside-input
  position absolute
  right 10px
  top 10px

.svg-button
  cursor pointer
  overflow hidden
  opacity 0.7
  transition all 0.1s ease
  fill #F5F5F5
  fill-rule evenodd
  clip-rule evenodd
.svg-button.transparent
  fill #969dab
.svg-button:hover
  opacity 1
  transform scale(1.1)

.plus-button
  cursor pointer
  overflow hidden
  width 60px
  height 60px
  opacity 0.8
  transition all 0.1s ease
  fill #F5F5F5
  fill-rule evenodd
  clip-rule evenodd
.plus-button:hover
  opacity 1

/*
.add-button
  margin-right small
  overflow hidden
.add-button > *
  display block
  vertical-align top
  background plus-bg-color
  transition all 0.3s ease-out
.add-button.switched > *
  transform translateY(-40px)
*/

.find-input
  width "calc(100% - %s)" % (middle)
  font-size 14px
  margin-bottom extra-small
  background #FFFFFF00
  border none
  outline none
  overflow hidden
  text-overflow ellipsis
  transition all ease 0.2s
  color color2
.find-input:focus
  padding middle
  background bg-color-4
  color color2
  border-radius extra-small
  border-width width-border
  border-style inset
  margin-left middle

.find-input::placeholder
  color color4
.find-input:focus::placeholder
  color color3

.input-with-clear + .input-clear
  max-width 0
  transition all ease-out 0.4s
  opacity 0
  transform rotate(45deg)
.input-with-clear:focus + .input-clear
  max-width 100px
  opacity 1
  transform rotate(0)

.theme-input
  font-size 14px
  margin-bottom extra-small
  background #FFFFFF00
  border none
  outline none
  transition all ease 0.2s
  color color2
.theme-input:focus
  background bg-color-2
  color color3
.theme-input::placeholder
  transition all ease 0.2s
  color color4
.theme-input:focus::placeholder
  color color3

.p-xs
  padding extra-small
.p-m
  padding middle
.p-l
  padding large

.load-animation
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
  height: 50px;
/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: loading-color;
  color: loading-color;
  box-shadow: 9999px 0 0 -4px loading-color;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: loading-color;
  color: loading-color;
}
.dot-pulse::before {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
.dot-pulse::after {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.dot-pulse::before {
  box-shadow: 9975px 0 0 -3px loading-color;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px loading-color;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9975px 0 0 -3px loading-color;
  }
  30% {
    box-shadow: 9975px 0 0 1px loading-color;
  }
  60%,
  100% {
    box-shadow: 9975px 0 0 -3px loading-color;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -4px loading-color;
  }
  30% {
    box-shadow: 9999px 0 0 3px loading-color;
  }
  55%,
  100% {
    box-shadow: 9999px 0 0 -4px loading-color;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px loading-color;
  }
  25% {
    box-shadow: 10014px 0 0 3px loading-color;
  }
  45% {
    box-shadow: 10014px 0 0 4px loading-color;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px loading-color;
  }
}
/**
* ==================================
**/
