margin = 12px
height = 18px

.flex
    display flex

.message-block
    position relative
    .message-info
        position absolute
        top margin
        right margin
        line-height height
        > *
            margin-left margin
.status-icon
    width height
.delete-btn
    width height
    cursor pointer
    transition 0.2s ease color
    svg
        pointer-events none
.delete-btn:hover
    color orange
