@require "constants.styl"

*
    box-sizing border-box

#app
    opacity 0
    transition all 200ms ease
    width 100%
    height "calc(100% - %s)" % logo-height

@font-face
    font-family LioKorLogo
    src url(../fonts/liokor_logo_font.ttf)

html
    height 100%
    linkbutton
        svg
            pointer-events none // to prevent svg from overwritting linkbutton event
body
    margin 0
    font-family Arial

    // background-image url(../images/background.jpg)
    // background-repeat repeat-y
    background-color clBackground
    transition background-color ease 0.3s

    div.main
        overflow auto
        height 100vh

        background-color transparent
        background-image none

        header
            max-height auto
            transition max-height ease-out 0.2s
            overflow hidden
        header.lite
            height logo-height
            line-height logo-height
            div.logo
                padding logo-padding 0
                display flex
                margin 0 auto
                width logo-width
                text-align center
                div.image
                    padding-top (logo-padding - 5px)
                    img
                        height image-height
                div.text
                    padding-left logo-padding
                    color textColor1
                    font-family LioKorLogo
                    font-size 2.5rem
                    letter-spacing .4rem
