@require "constants.styl"

div.main
    div.profile
        div.standalone-form.profile
            div.title
                div.avatar
                    position relative
                    size = 96px
                    width size
                    margin 0 auto
                    margin-bottom 5px
                    div.cover
                        position absolute
                        top 0
                        width size
                        height size
                        line-height size
                        border-radius (size / 2 - 1) // to fix avatar outside of div
                        margin 0 auto
                        color textColor1
                        background-color clBackground
                        opacity 0
                        cursor pointer
                        transition all 0.2s ease
                    div.cover:hover
                        opacity 0.9
                    img
                        border-radius size
                        width size
                        height size
